{% extends 'base.html' %}
    {% load static %}



{% block content %}

    <!-- Account Page -->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'images/image1.png' %}" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span onclick="login()">Login</span>
                            <span onclick="register()">Register</span>
                            <hr id="Indicator">
                        </div>
                        <form id="LoginForm" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <input type="text" placeholder="Username" name="username">
                            <input type="password" placeholder="Password" name="password">
                            {% if error_message %}
                            {{ error_message }}
                            {% endif %}
                            <button type="submit" class="btn">Login</button>
                            <a href="{% url 'reset_password' %}">Forget Password</a>
                        </form>

                        <form id="RegForm" method="post" action="{% url 'register' %}">
                           {% csrf_token %} 
                            <input type="text" placeholder="Username" name="username">
                            <input type="email" placeholder="Email" name="email">
                            <input type="password" placeholder="Password" name="password">
                            <button type="submit" class="btn">Register</button>
                            {% if register_error_message %}
                            {{ register_error_message }}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>

    <!-- Toggle Form -->
<script>
    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator = document.getElementById("Indicator");

    function register() {
        RegForm.style.transform = "translatex(0px)";
        LoginForm.style.transform = "translatex(0px)";
        Indicator.style.transform = "translateX(100px)";
    }

    function login() {
        RegForm.style.transform = "translatex(300px)";
        LoginForm.style.transform = "translatex(300px)";
        Indicator.style.transform = "translateX(0px)";
    }

    // Auto toggle based on URL
    window.onload = function () {
        var formType = "{{ form_type }}";
        if (formType === "register") {
            register();
        } else {
            login();
        }
    };
</script>


</body>

</html>

{% endblock %}