{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Single Products -->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{{ product.image.url }}" width="100%" id="ProductImg">
            
                <div class="small-img-row">
                    {% for obj in extra_images %}
                        <div class="small-img-col">
                            <img src="{{ obj.extra_images.url }}" width="100%" class="small-img">
                        </div>
                    {% endfor %}
                </div>
            </div>


            <div class="col-2">
                <p>in {{ category_obj.name }}</p>
                <h1>{{ product.product }}</h1>
                <h4>${{ product.price }}</h4>
                <select>
                    <option>Select Size</option>
                    <option>XXL</option>
                    <option>XL</option>
                    <option>L</option>
                    <option>M</option>
                    <option>S</option>
                </select>
                <input type="number" value="1">
                <a href="{% url 'add_to_cart' product.id %}" class="btn">Add To Cart</a>

                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>
    <!-- title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>
    <!-- Products -->
    <div class="small-container">
        <div class="row">
            {% for products in related_products %}
            {% if products.product != product.product %}
            <div class="col-4">
                <a href="{% url 'detailed_view' products.id %}"><img src="{{ products.image.url }}"></a>
                <h4>{{ products.product }}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i> 
                </div>
                <p>{{ products.price }}</p>
            </div>
            {% endif %}
            {% endfor %}   
        </div>
    </div>


    <!-- product gallery -->
<script>
    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator = document.getElementById("Indicator");

    function register() {
        RegForm.style.transform = "translatex(0px)";
        LoginForm.style.transform = "translatex(0px)";
        Indicator.style.transform = "translateX(100px)";
    }

    function login() {
        RegForm.style.transform = "translatex(300px)";
        LoginForm.style.transform = "translatex(300px)";
        Indicator.style.transform = "translateX(0px)";
    }

    // Detect URL parameter and toggle form accordingly
    window.onload = function () {
        const urlParams = new URLSearchParams(window.location.search);
        const formType = urlParams.get('form');
        if (formType === 'register') {
            register();
        } else {
            login(); // default
        }
    };
</script>


{% endblock %}