{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Forgot Password Page -->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <h2 style="margin-bottom: 20px;">Forgot Password</h2>
                    <form method="post" action="{% url 'reset_password' %}">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Enter your username" required>
                        <input type="email" name="email" placeholder="Enter your registered email" required> 
                        {% if error_message %}
                        {{ error_message }} 
                        {% endif %}                      
                        <button type="submit" class="btn">Reset Password</button>
                        <a href="{% url 'login' %}">Back to Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
